<!DOCTYPE html>
<html>
<style>
   .likeAButton {
        border: 1px solid #333;
        display: inline-block;
        padding: 1px 25px;
        text-decoration: none;
        color: #000;
  }
    .likeAButton:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        background: linear-gradient(to right, #00ecd6, #f2f3f4);
        color: #000;
        text-decoration: none;
   }
   .pagination{
        margin: 1%;
   }
   .date{
        margin: 1%;
   }
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body >
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Сервис для работы с xml файлами</h1>
            <input onclick="document.location = '/newXML'" type="button" value="Добавить новую статью">
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
<!--        <label for="searchText">Имя</label>-->
        <form method="post" action="/findXML/">
                {% csrf_token %}
            <p><input type="text" placeholder="Имя статьи" id="searchText" name="reg"></p>
            <p><input type="date" placeholder="Начальная дата" name="firstDate" id="startDate"> - <input type="date" name="secondDate"  id="endDate"></p>
            <p><input type="search" name="tags" placeholder="Возможные теги">
            <p><select name="category">
            <option></option>
                {% for tag in readyTags %}
              <option>{{tag}}</option>
                {% endfor %}
            </select>
            <p><input name="nameSort" type="radio" value="nameSort"> Сортировать по имени </p>
            <p><input name="dateSort" type="radio" value="dateSort"> Сортировать по дате </p>
            <p><input name="dzen" type="radio" value=""> Сортировать по просмотрам </p>

            <p><input type="submit" name="submit" value="Найти статьи">
        </form>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group" style="">
            {% for xmlPag in xmlPag %}
              {# Each "xmlPag" in xmlPagList. #}
              {{ xmlPag.full_name|upper }}<br/>
              <a href="{{xmlPag}}" class="list-group-item list-group-item-action active" contenteditable="false">{{xmlPag}}</a>
            {% endfor %}
              <div class="pagination">
                  <span class="step-links">
                      {% if xmlPag.has_previous %}
                          <a class="likeAButton" href="?page={{ xmlPag.previous_page_number }}">Предыдущая страница</a>
                      {% endif %}

                      {% if xmlPag.has_next %}
                          <a class="likeAButton" href="?page={{ xmlPag.next_page_number }}">Следущая страница</a>
                      {% endif %}

                      <span class="current">
                          Страница {{ xmlPag.number }} из {{ xmlPag.paginator.num_pages }}
                      </span>
                  </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>