<!DOCTYPE html>
<html>
{% block javascript %}
<script type="text/javascript">

  function checkData(){
    for (var i = 0; i < arguments.length; i++) {
      if(arguments[i] === ""){
        return false;
      }
    }
    return true;
  }

  function createXML() {
   const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var xhr = new XMLHttpRequest();
    xhr.onload = (e) => {
      var data = JSON.parse(e.target.response);
      document.getElementById("message").textContent = data;
      if (data === "Статья успешно создана"){
          document.getElementById("category").textContent = "";
          document.getElementById("title").textContent = "";
          document.getElementById("dateAndTime").textContent = "";
          document.getElementById("text").textContent = "";
          document.getElementById("tags").textContent = "";
      }
    };
    xhr.open("POST", "/newXML/create", true);
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

    var category = document.getElementById("category").textContent;
    var title = document.getElementById("title").textContent;
    var dateAndTime = document.getElementById("dateAndTime").textContent;
    var text = document.getElementById("text").textContent;
    var tags = document.getElementById("tags").textContent;
    var nameFile = document.getElementById("title").textContent;

    if (checkData(category, title, dateAndTime, text, tags, nameFile) === false){
      document.getElementById("message").textContent = "Необходимо заполнить данные";
      return false;
    }

    data = {
      "category":category,
      "title":title,
      "dateAndTime":dateAndTime,
      "text":text,
      "tags":tags,
      "nameFile":nameFile
    };

    xhr.send(JSON.stringify(data));
    return false;
}

  function aFill() {
      const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      var xhr = new XMLHttpRequest();
          xhr.onload = (e) => {
            var data = JSON.parse(e.target.response);
            if (data === "Text Not Found"){
              document.getElementById("message").textContent = "Введите текст статьи для продолжения работы";
              var textBold = document.getElementById("textBold");
              textBold.style.fontWeight = 'bold';
              return false;
            }
            else{
              var textBold = document.getElementById("textBold");
              textBold.style.fontWeight = 'normal';
              document.getElementById("message").textContent = "";
              document.getElementById("category").textContent = data.category;
              document.getElementById("tags").textContent = data.keyWords;
              document.getElementById("dateAndTime").textContent = data.date;
              document.getElementById("title").textContent = data.title;
            }
      };
      xhr.open("POST", "/newXML/autofill", true);
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
      xhr.setRequestHeader("Content-type", "application/json");
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      var text = document.getElementById("text").textContent;
        if (text === ""){
          document.getElementById("message").textContent = "Введите текст статьи для автоматического формирования статьи";
          var textBold = document.getElementById("textBold");
          textBold.style.fontWeight = 'bold';
          return false;
        }
       data = {
        "text":text
    };
    xhr.send(JSON.stringify(data));
    return false;
}
</script>
{% endblock %}

<style>
table {
  table-layout: fixed;
}
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body >
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Создание новой статьи</h1>
        </div>
      </div>
    </div>
  </div>
  <form onsubmit="return false">
    {% csrf_token %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr id="message">
              </tr>
                <tr>
                  <th>Обозначение</th>
                  <th>Данные</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Категория</td>
                  <td contenteditable id="category"></td>
                </tr>
                <tr>
                  <td>Заголовок</td>
                  <td contenteditable id="title"></td>
                </tr>
                <tr>
                      {% for message in messages %}
                          {{ message }}
                      {% endfor %}
                  <td>Дата публикации</td>
                  <td contenteditable id="dateAndTime"></td>
                </tr>
                <tr>
                  <td id="textBold">Текст статьи</td>
                  <td contenteditable id="text"></td>
                </tr>
                 <tr>
                  <td>Теги статьи</td>
                  <td contenteditable id="tags"></td>
                </tr>
              </tbody>
            </table>
            <input type="submit" name="submit" value="Сохранить статью" onclick=createXML()>
            <input type="button" value="На главную" onClick='location.href="/"'>
            <input type="button" value="Сформировать статью по введенному тексту" onClick='aFill()'>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
