<!DOCTYPE html>
<html>
{% block javascript %}
<script type="text/javascript">
  function saveChange() {

    const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var xhr = new XMLHttpRequest();
    xhr.onload = (e) => {
       window.location="";
    };
    xhr.open("POST", "/saveChange/save", true);
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

    var category = document.getElementById("category").textContent;
    var title = document.getElementById("title").textContent;
    var dateAndTime = document.getElementById("dateAndTime").textContent;
    var views = document.getElementById("views").textContent;
    var text = document.getElementById("text").textContent;
    var tags = document.getElementById("tags").textContent;
    var nameFile = "{{nameXml}}"

    data = {
      "category":category,
      "title":title,
      "dateAndTime":dateAndTime,
      "views":views,
      "text":text,
      "tags":tags,
      "nameFile":nameFile
    };
    xhr.send(JSON.stringify(data));
    return false;
}

function deleteXml() {

    const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var xhr = new XMLHttpRequest();
        xhr.onload = (e) => {
        window.location="";
    };
    xhr.open("DELETE", "/deleteFile/delete", true);
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    var nameFile = "{{nameXml}}"
    data = {
      "nameFile":nameFile
    };
    xhr.send(JSON.stringify(data));
    return false;
}
</script>
{% endblock %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>
<body >
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="nameFile">Имя xml файла - {{nameXml}}</h1>
        </div>
      </div>
    </div>
  </div>
  <form onsubmit=saveChange()>
    {% csrf_token %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Обозначение</th>
                  <th>Данные</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Категория</td>
                  <td contenteditable id="category">{{category}}</td>
                </tr>
                <tr>
                  <td>Заголовок</td>
                  <td contenteditable id="title">{{title}}</td>
                </tr>
                <tr>
                      {% for message in messages %}
                          {{ message }}
                      {% endfor %}
                  <td>Дата и время публикации</td>
                  <td id="dateAndTime">{{dateAndTime}}</td>
                </tr>
                <tr>
                  <td>Количество просмотров на момент сбора</td>
                  <td id="views">{{views}}</td>
                </tr>
                <tr>
                  <td>Текст статьи</td>
                  <td contenteditable id="text">{{text}}</td>
                </tr>
                 <tr>
                  <td>Теги статьи</td>
                  <td contenteditable id="tags">{{tags}}</td>
                </tr>
              </tbody>
            </table>
            <input type="submit" name="submit" value="Сохранить">
		    <input onclick="deleteXml()" type="button" value="Удалить данный файл">
            <input type="button" value="На главную" onClick='location.href="/"'>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>